/* Council Section*/
#preview::before {
  content: "";
  background-image: url(../../public/Images/preview-bg.png);
  background-size: cover;
  background-position: center;
  position: fixed;
  inset: 0px;
  width: 100%;
  height: 100%;
  z-index: -3;
}

#preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: auto;
  padding: 0rem 1rem;
}

#preview .members {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2.5rem 0rem 2.5rem 0rem;
}

.members .cards {
  width: 20vw;
  min-width: 239px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5rem;
}

.cards .img {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 3px solid white;
  border-radius: 40px;
}

.cards img {
  max-width: 100%;
  border-radius: 20px;
}

.cards h2 {
  font-size: 1.5rem;
  text-align: center;
}

.cards p {
  text-align: center;
  font-size: 1rem;
}

.links {
  display: flex;
  justify-content: center;
  width: 80%;
}

.links img {
  height: 1.75rem;
  margin: 5px 1vw;
  filter: invert(100%);
  border-radius: 0;
}

#preview h1 {
  font-size: 2.6rem;
  text-align: center;
}

.preview-btn {
  margin: 0.2rem;
  padding: 5px 0px;
  width: 70%;
  border-radius: 5px;
  background-color: var(--red);
  font-size: 1.25rem;
}

#preview .container-1 {
  padding: 0rem 0rem 3rem 0rem;
}

.preview-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 0rem 3rem;
}

.preview-card {
  margin: 0.75rem 1.5rem;
}

.preview-bg {
  padding: 1.25rem;
  margin: 0.5rem;
  border: 3px solid white;
  border-radius: 50%;
  width: 200px;
}

.preview-bg img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.preview-card h3 {
  text-align: center;
}

.subunit{
  padding: 1rem;
  background-color: rgba(29, 29, 27, 0.6);
  color: white;
  font-size: 1.2rem;
  width: 85vw;
  text-align:justify;
  white-space: pre-line;
}

.subunit span{
  color: var(--red);
}

/* Responsive Section */
@media screen and (max-width: 600px) {
  #preview h1 {
    font-size: 1.5rem;
  }
}